.fofo::before {
  content: "";
  @apply absolute z-10 h-full w-full rounded-full bg-white transition-all;
}

.fofo::after {
  content: "";
  @apply absolute
          z-20
          h-5/6
          w-2/5
          translate-x-1
          rounded-full
          bg-yellow-500
          transition-all duration-300;
}

.loading {
  @apply after:transition-none;
}

/* .label::before {
  content: "";
  @apply absolute
         h-5
         w-5
         -translate-y-5
         bg-black;
} */
